/venv/bin/activate.csh
/.idea/.gitignore
/venv/.gitignore
/venv/bin/activate
/venv/bin/activate.fish
/venv/bin/activate.nu
/venv/bin/activate.ps1
/venv/bin/activate_this.py
/venv/bin/deactivate.nu
/venv/bin/flask
/.idea/Guess_the_number_WEB.iml
/.idea/misc.xml
/.idea/modules.xml
/venv/bin/pip
/venv/bin/pip3
/venv/bin/pip3.11
/venv/bin/pip-3.11
/.idea/inspectionProfiles/profiles_settings.xml
/venv/bin/python
/venv/bin/python3
/venv/bin/python3.11
/venv/pyvenv.cfg
/.idea/vcs.xml
/venv/bin/wheel
/venv/bin/wheel3
/venv/bin/wheel3.11
/venv/bin/wheel-3.11
